<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monstergrow.mapper.MonsterImgMapper">

  <resultMap id="monsterImgResultMap" type="com.monstergrow.model.MonsterImg">
    <id column="MONSTER_IMG_ID" property="monsterImgId" />
    <result column="IMG_FILE_NAME" property="imgFileName" />
    <result column="PIXEL_X" property="pixelX" />
    <result column="PIXEL_Y" property="pixelY" />
    <result column="CREATED_BY" property="createdBy" />
    <result column="CREATED_AT" property="createdAt" />
    <result column="UPDATED_BY" property="updatedBy" />
    <result column="UPDATED_AT" property="updatedAt" />
  </resultMap>

  <select id="getAllMonsterImages" resultMap="monsterImgResultMap">
    SELECT * FROM M_MONSTER_IMG
  </select>

  <select id="getMonsterImageById" parameterType="long" resultMap="monsterImgResultMap">
    SELECT * FROM M_MONSTER_IMG WHERE MONSTER_IMG_ID = #{monsterImgId}
  </select>

  <insert id="insertMonsterImage" parameterType="com.monstergrow.model.MonsterImg">
    INSERT INTO M_MONSTER_IMG (MONSTER_IMG_ID, IMG_FILE_NAME, PIXEL_X, PIXEL_Y, CREATED_BY, UPDATED_BY, CREATED_AT)
    VALUES (#{monsterImgId}, #{imgFileName}, #{pixelX}, #{pixelY}, #{createdBy}, #{updatedBy}, CURRENT_TIMESTAMP)
  </insert>

  <update id="updateMonsterImage" parameterType="com.monstergrow.model.MonsterImg">
    UPDATE M_MONSTER_IMG SET 
      IMG_FILE_NAME = #{imgFileName}, 
      PIXEL_X = #{pixelX}, 
      PIXEL_Y = #{pixelY}, 
      UPDATED_BY = #{updatedBy}, 
      UPDATED_AT = CURRENT_TIMESTAMP 
    WHERE MONSTER_IMG_ID = #{monsterImgId}
  </update>

  <delete id="deleteMonsterImage" parameterType="long">
    DELETE FROM M_MONSTER_IMG WHERE MONSTER_IMG_ID = #{monsterImgId}
  </delete>

</mapper>
